*{
	
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style: none;
}

body{
	font-family: Open sans;
}

.slideshow{
	width: 100%;
	
}

.slider li, ul{
	width: 100%;

}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 98%;
	margin-right: 10px;
	margin-left: 10px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	
}


@media screen and (max-width: 600px){
	

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}
}